.elementor-27 .elementor-element.elementor-element-29e1cda:not(.elementor-motion-effects-element-type-background),
.elementor-27 .elementor-element.elementor-element-29e1cda>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF00;
}

.elementor-27 .elementor-element.elementor-element-29e1cda {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

.elementor-27 .elementor-element.elementor-element-29e1cda>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-27 .elementor-element.elementor-element-e79bcc5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-27 .elementor-element.elementor-element-e79bcc5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-27 .elementor-element.elementor-element-e398724 .elementor-heading-title {
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-87a8c83-font-family), Sans-serif;
    font-size: var( --e-global-typography-87a8c83-font-size);
    font-weight: var( --e-global-typography-87a8c83-font-weight);
    line-height: var( --e-global-typography-87a8c83-line-height);
    letter-spacing: var( --e-global-typography-87a8c83-letter-spacing);
    word-spacing: var( --e-global-typography-87a8c83-word-spacing);
}

.elementor-27 .elementor-element.elementor-element-e398724>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-e398724 {
    width: auto;
    max-width: auto;
}

.elementor-27 .elementor-element.elementor-element-398c8c5 .elementor-heading-title {
    font-family: var( --e-global-typography-87a8c83-font-family), Sans-serif;
    font-size: var( --e-global-typography-87a8c83-font-size);
    font-weight: var( --e-global-typography-87a8c83-font-weight);
    line-height: var( --e-global-typography-87a8c83-line-height);
    letter-spacing: var( --e-global-typography-87a8c83-letter-spacing);
    word-spacing: var( --e-global-typography-87a8c83-word-spacing);
}

.elementor-27 .elementor-element.elementor-element-398c8c5 {
    width: auto;
    max-width: auto;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-menu-item {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 10px + 20px);
    padding-right: 10px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 40px);
    padding-right: 10px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 60px);
    padding-right: 10px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 80px);
    padding-right: 10px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-aff122b-font-family), Sans-serif;
    font-size: var( --e-global-typography-aff122b-font-size);
    font-weight: var( --e-global-typography-aff122b-font-weight);
    text-transform: var( --e-global-typography-aff122b-text-transform);
    line-height: var( --e-global-typography-aff122b-line-height);
    letter-spacing: var( --e-global-typography-aff122b-letter-spacing);
    word-spacing: var( --e-global-typography-aff122b-word-spacing);
}

.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu a.hfe-sub-menu-item {
    color: var( --e-global-color-primary);
}

.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-menu-item:hover,
.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-menu-item.highlighted,
.elementor-27 .elementor-element.elementor-element-4e54399 .menu-item a.hfe-menu-item:focus {
    color: var( --e-global-color-accent);
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu a.hfe-sub-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 .elementor-menu-toggle,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    color: var( --e-global-color-primary);
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: var( --e-global-color-5698fd7);
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-27 .elementor-element.elementor-element-4e54399 .elementor-menu-toggle:hover,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item:hover,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
    color: var( --e-global-color-accent);
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li a.hfe-sub-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-aff122b-font-family), Sans-serif;
    font-size: var( --e-global-typography-aff122b-font-size);
    font-weight: var( --e-global-typography-aff122b-font-weight);
    text-transform: var( --e-global-typography-aff122b-text-transform);
    line-height: var( --e-global-typography-aff122b-line-height);
    letter-spacing: var( --e-global-typography-aff122b-letter-spacing);
    word-spacing: var( --e-global-typography-aff122b-word-spacing);
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu {
    border-radius: 4px 4px 4px 4px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li.menu-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li.menu-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
}

.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown {
    border-radius: 4px 4px 4px 4px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li.menu-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li.menu-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
}

.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible {
    border-radius: 4px 4px 4px 4px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li.menu-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li.menu-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .hfe-nav-menu .sub-menu,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible {
    box-shadow: 0px 30px 35px -15px rgba(0, 0, 0, 0.2);
}

.elementor-27 .elementor-element.elementor-element-4e54399 ul.sub-menu {
    width: 220px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu a.hfe-sub-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li.menu-item:not(:last-child),
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: var( --e-global-color-b40ee50);
    border-bottom-width: 1px;
}

.elementor-27 .elementor-element.elementor-element-4e54399 div.hfe-nav-menu-icon {
    color: var( --e-global-color-primary);
}

.elementor-27 .elementor-element.elementor-element-4e54399 div.hfe-nav-menu-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-27 .elementor-element.elementor-element-4e54399 div.hfe-nav-menu-icon:hover {
    color: var( --e-global-color-accent);
}

.elementor-27 .elementor-element.elementor-element-4e54399 div.hfe-nav-menu-icon:hover svg {
    fill: var( --e-global-color-accent);
}

@media(max-width:1024px) {
    .elementor-27 .elementor-element.elementor-element-e79bcc5>.elementor-element-populated {
        padding: 0px 0px 0px 30px;
    }
    .elementor-27 .elementor-element.elementor-element-e398724 .elementor-heading-title {
        font-size: var( --e-global-typography-87a8c83-font-size);
        line-height: var( --e-global-typography-87a8c83-line-height);
        letter-spacing: var( --e-global-typography-87a8c83-letter-spacing);
        word-spacing: var( --e-global-typography-87a8c83-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-398c8c5 .elementor-heading-title {
        font-size: var( --e-global-typography-87a8c83-font-size);
        line-height: var( --e-global-typography-87a8c83-line-height);
        letter-spacing: var( --e-global-typography-87a8c83-letter-spacing);
        word-spacing: var( --e-global-typography-87a8c83-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-aff122b-font-size);
        line-height: var( --e-global-typography-aff122b-line-height);
        letter-spacing: var( --e-global-typography-aff122b-letter-spacing);
        word-spacing: var( --e-global-typography-aff122b-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-aff122b-font-size);
        line-height: var( --e-global-typography-aff122b-line-height);
        letter-spacing: var( --e-global-typography-aff122b-letter-spacing);
        word-spacing: var( --e-global-typography-aff122b-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item {
        padding-left: 30px;
        padding-right: 30px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item {
        padding-left: calc( 30px + 20px);
        padding-right: 30px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc( 30px + 40px);
        padding-right: 30px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc( 30px + 60px);
        padding-right: 30px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc( 30px + 80px);
        padding-right: 30px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-nav-menu__layout-horizontal:not(.hfe-dropdown) ul.sub-menu,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-nav-menu__layout-expandible.menu-is-active,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-nav-menu__layout-vertical:not(.hfe-dropdown) ul.sub-menu {
        margin-top: 10px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown.menu-is-active {
        margin-top: 10px;
    }
}

@media(min-width:768px) {
    .elementor-27 .elementor-element.elementor-element-e79bcc5 {
        width: 24.333%;
    }
    .elementor-27 .elementor-element.elementor-element-a9b1177 {
        width: 75.667%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-27 .elementor-element.elementor-element-e79bcc5 {
        width: 75%;
    }
    .elementor-27 .elementor-element.elementor-element-a9b1177 {
        width: 25%;
    }
}

@media(max-width:767px) {
    .elementor-27 .elementor-element.elementor-element-29e1cda {
        padding: 0px 10px 0px 0px;
    }
    .elementor-27 .elementor-element.elementor-element-e79bcc5 {
        width: 50%;
    }
    .elementor-27 .elementor-element.elementor-element-e79bcc5>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
    }
    .elementor-27 .elementor-element.elementor-element-e398724 .elementor-heading-title {
        font-size: var( --e-global-typography-87a8c83-font-size);
        line-height: var( --e-global-typography-87a8c83-line-height);
        letter-spacing: var( --e-global-typography-87a8c83-letter-spacing);
        word-spacing: var( --e-global-typography-87a8c83-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-398c8c5 .elementor-heading-title {
        font-size: var( --e-global-typography-87a8c83-font-size);
        line-height: var( --e-global-typography-87a8c83-line-height);
        letter-spacing: var( --e-global-typography-87a8c83-letter-spacing);
        word-spacing: var( --e-global-typography-87a8c83-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-a9b1177 {
        width: 50%;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-aff122b-font-size);
        line-height: var( --e-global-typography-aff122b-line-height);
        letter-spacing: var( --e-global-typography-aff122b-letter-spacing);
        word-spacing: var( --e-global-typography-aff122b-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        font-size: var( --e-global-typography-aff122b-font-size);
        line-height: var( --e-global-typography-aff122b-line-height);
        letter-spacing: var( --e-global-typography-aff122b-letter-spacing);
        word-spacing: var( --e-global-typography-aff122b-word-spacing);
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .sub-menu li a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible li a.hfe-menu-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 nav.hfe-dropdown li a.hfe-sub-menu-item {
        padding-left: calc( 20px + 20px);
        padding-right: 20px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc( 20px + 40px);
        padding-right: 20px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc( 20px + 60px);
        padding-right: 20px;
    }
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
    .elementor-27 .elementor-element.elementor-element-4e54399 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc( 20px + 80px);
        padding-right: 20px;
    }
}